body
{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}
#heading
{
    height:300px;
    display:flex;
    background-color:aqua;
    justify-content:center;
    align-items:center;
}
h1
{
    font-size:50px;
    color:white;
    font-weight:bold;
}
.profile
{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    margin:30px 30px ;
    margin-top :20px;
}
img
{
    height:200px;
    border-radius:50%;
}
.cards
{
    padding:20px 10px;
    text-align:center;
    border:3px black solid;
    margin-left:15px;
    margin-top:15px;
}
.but
{
    margin-right:20px;
    gap:10px;
}
input
{
margin-left:40vw;
height:30px;
width:100px;
margin-top:10px;
margin-right:10px;
}
button
{
    height:30px;
    background-color:orange;
    color:white;
    border-radius: 10px;
    border:none;
}
button:hover
{
    background-color:aqua;
}